<!-- Header -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Content Start -->
<ion-content [fullscreen]="true">
    <!-- LOGIN FORM -->
    <form #form="ngForm" (ngSubmit)="login(form)" >
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input name="email" type="email" email ngModel required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Sign In</ion-button>
        </ion-col>
      </ion-row>
    </form>
</ion-content>