<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="UserPosts">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>User Posts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="OtherPosts">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Other Posts</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
