<!-- Header -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Other Posts
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Content Start -->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Other Posts</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Cards with posts from other users -->
  <div *ngFor="let item of posts"> 
    <ion-card *ngIf="item.userId!=userId">
      <ion-card-header>
        <ion-card-subtitle>{{item.userId}}</ion-card-subtitle>
        <ion-card-title>{{item.title}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{item.body}}
      </ion-card-content>
  </ion-card>
  </div>

</ion-content>
