<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-title>New Post</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Modal Content Start -->
<ion-content>
  <ion-grid>
    <!-- Post input -->
    <form #form="ngForm" (ngSubmit)="newPost(form)" >
    <ion-row>
      <ion-col text-center>
        <ion-input name="title" placeholder="Enter Title" ngModel></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-input name="body" placeholder="Enter Post..." ngModel></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <ion-button type="submit">Post</ion-button>
      </ion-col>
    </ion-row>
    </form>
    
  </ion-grid>
</ion-content>